*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family :Arial, Helvetica, sans-serif;
}
html, body{
    height : 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    /* height: 400px; */
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;
}
.card p{
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: monospace;

}
span{
    color: rgb(0, 0, 255);
}
.outer{
    height: 20px;
    width: 100%;
    background-color: rgb(163, 163, 163);
    border-radius: 50px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: rgb(16, 155, 16);
    border-radius: 50px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom h2{
    font-size: 50px;
    font-family: monospace;
}
.bottom button{
    padding: 12px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.bottom button:active{
    scale: 0.95;
}